<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-light">
    <div class="container mt-5"> <!-- Added top margin here -->
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card mt-5">
                    <div class="card-body">
                        <img src="/static/logo.png" alt="PS Logo" width="150" height="25" class="mx-auto d-block"> <!-- Moved logo here -->
                        <h5 class="card-title text-center mt-3">Login or Register</h5>
                        <form method="POST">
                            {{ login_form.hidden_tag() }}
                            <div class="form-group">
                                <label for="username">Username</label>
                                {{ login_form.username(class="form-control", id='username') }}
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                {{ login_form.password(class="form-control", id='password') }}
                            </div>
                            <div class="form-group" id="confirm_password_div" style="display: none;">
                                <label for="confirm_password">Confirm Password</label>
                                {{ register_form.confirm_password(class="form-control", id='confirm_password') }}
                            </div>
                            <input type="submit" name="login" value="Login" class="btn btn-primary btn-block">
                            <input type="button" id="register_button" value="Register" class="btn btn-primary btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#register_button").click(function(){
                $("#confirm_password_div").show();
                $(this).attr("type", "submit");
            });
        });
    </script>
</body>
</html>